<h1>Bienvenido a la {{title}}</h1>

<h3>Nuestros productos:</h3>

<ul>
    {{#each dulces}}
        <li>
            <strong>{{this.nombre}}</strong> - ${{this.precio}} 
            <button class="eliminar"><a href="/borrar/{{this.id}}">Eliminar</a></button>
            <button class="vender">{{#if stock}}
      <a href="/vender/{{id}}">Vender</a>
    {{else}}
      <span style="color:rgb(255, 247, 0);">Sin stock</span>
    {{/if}}</button>
        </li>
    {{/each}}
</ul>

<hr>


<form action="/dulces" method="POST">
  <input type="text" name="nombre" placeholder="Nombre del dulce" required>
  <input type="number" step="0.01" name="precio" placeholder="Precio" required>
  <input type="number" name="stock" placeholder="Stock" required>
  <button type="submit">Agregar</button>
</form>

